A {
    color: white;
   }
   A:visited {
    color: white;
   }
   A:active {
    color: #7bb4ff;
}
body
{
	color: black;
	font-size: 21px;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
.background-1
{
	background-image: url(Pics/Interior-1.png);
	padding-top: 40px;
	padding-bottom: 40px;
	background-size: 100%;
}
.section-1
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    background-color: white;
	margin-top: 35px;
	margin-right: 140px;
	margin-left: 140px;
	margin-bottom: 35px;
	border-radius: 5px;
}
.datamola
{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
	margin-left: 30px;
}
.me
{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 30px;
	padding-left: 30px;
}
.header
{
	color: #569fff;
	font-size: 40px;
	margin-top: 30px;
	font-weight: 600;
}
.text
{
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 50px;
	margin-left: 50px;
}
.greeting
{
	display: flex;
	text-align: left;
	margin-bottom: 10px;
}
.contact
{
	display: flex;
	flex-direction: column;
	font-family: calibri;
	margin-top: 20px;
}
.social
{
	display: flex;
	flex-direction: row;
}
.links
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 7px;
	margin-bottom: 5px;
	color: #569fff;
	height: 30px;
}
.background-2
{
	background-color: #7bb4ff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.section-2
{
	display: flex;
	background-color: white;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin-top: 65px;
	margin-right: 140px;
	margin-left: 140px;
	margin-bottom: 65px;
	border-radius: 5px;
	height: 600px;
}
.interests-block
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.interests
{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
.interests-icon
{
	height: 30px;
	margin-right: 8px;
	margin-bottom: 2px;
}
.background-3
{
	background-image: url(Pics/Interior-2.jpg);
	padding-top: 40px;
	padding-bottom: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.section-3
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin-top: 35px;
	margin-right: 140px;
	margin-left: 140px;
	margin-bottom: 35px;
	border-radius: 5px;
}
.background-4
{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
.section-4
{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	padding: 20px
}
.anchor
{
	color: white;
	margin: 10px;
	font-size: 20px;
}
.developer
{
	font-family: calibri;
	font-size: 15px; 
	color: grey;
}