A 
{
    color: white;
}
A:visited 
{
    color: white;
}
A:active
{
    color: #7bb4ff;
}
p
{
	margin: 0;
}
body
{
	color: black;
	font-size: 21px;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
.background-1
{
	display: flex;
	justify-content: center;
	background-image: url(Pics/Interior-1.png);
	padding: 70px;
	background-size: 100%;
}
.section-1
{
	display: flex;
	justify-content: space-around;
	align-items: center;
    background-color: white;
	width: 1172px;
	padding: 20px 30px;
	border-radius: 5px;
}
.datamola
{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
	width: 30%;
}
.me
{
	width: 30%;
}
.text-1
{
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 35%;
	
}
.header
{
	color: #569fff;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 10px;
}
.greeting
{
	display: flex;
	text-align: left;
	margin-bottom: 10px;
}
.contact
{
	display: flex;
	flex-direction: column;
	font-family: calibri;
	margin-top: 20px;
}
.social
{
	display: flex;
}
.links-1
{
	display: flex;
	justify-content: left;
	margin-top: 5px;
	margin-bottom: 7px;
	margin-right: 15px;
	color: #569fff;
	height: 30px;
}
.background-2
{
	display: flex;
	justify-content: center;
	background-color: #7bb4ff;
	padding: 70px;
}
.section-2
{
	display: flex;
	background-color: white;
	align-items: center;
	flex-direction: column;
	width: 1172px;
	padding: 20px 30px;
	border-radius: 5px;
}
.interests-block
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.interests
{
	width: 90%;
}
.interests-icon
{
	height: 30px;
	margin-top: 6px;
	margin-right: 8px;
}
.background-3
{
	display: flex;
	justify-content: center;
	background-image: url(Pics/Interior-2.jpg);
	padding: 70px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.section-3
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 1172px;
	padding: 20px 30px;
	border-radius: 5px;
}
.text-2
{
	width: 90%;
}
.background-4
{
	background-color: black;
	padding: 10px;
}
.section-4
{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.links-2
{
	display: flex;
	flex-direction: row;
	margin: 5px 9px;
	height: 30px;
}
.anchor
{
	color: white;
	margin: 10px;
	font-size: 20px;
}
.developer
{
	font-family: calibri;
	font-size: 15px; 
	color: grey;
}