body
{
	color: black;
	font-size: 18px;
	font-family: calibri;
	margin: 0;
	padding: 0;
}
.background-1
{
	background-image: url(Pics/Interior.png);
	padding-top: 10px;
	padding-bottom: 10px;
	background-size: 100%;
	width: 100%;
}
.section-1
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    background-color: white;
	margin-top: 35px;
	margin-right: 140px;
	margin-left: 140px;
	margin-bottom: 35px;
	border-radius: 5px;
}
.datamola
{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
	font-family: calibri;
	margin-left: 30px;
}
.me
{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 5px;
}
.text
{
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-bottom: 30px;
	margin-right: 20px;
	margin-left: 20px;
}
.name-surname
{
	color: #569fff;
	font-size: 33px;
	font-family: calibri;
	padding-top:20px;
}
.greeting
{
	display: flex;
	text-align: left;
	margin-bottom: 10px;
}
.contact
{
	display: flex;
	flex-direction: column;
	font-family: calibri;
	margin-top: 20px;
}
.social
{
	display: flex;
	flex-direction: row;
}
.links
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-right: 25px;
	margin-top: 7px;
	margin-bottom: 5px;
	color: #569fff;
}
.background-2
{
	background-color: #569fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.section-2
{
	display: flex;
	background-color: lightgrey;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	margin-top: 35px;
	margin-right: 140px;
	margin-left: 140px;
	margin-bottom: 35px;
	border-radius: 5px;
}